.sidebar {
  width: 300px;
  height: 100vh;
  background-color: #bbb3b3;
  color: #fff;
  padding: 20px;
  box-sizing: border-box;
  float: left;
}

.sidebarItem {
  margin-bottom: 10px;
}

.locationSelect {
  margin-bottom: 20;
  width: 100%;
}
